# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.coverage
.mypy_cache/
.pytype/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Virtual environments
venv/
env/

# Git
.git
.gitignore

# Development
.python-version
Dockerfile
.dockerignore
