name: CI Pipeline

permissions:
  contents: read
  pull-requests: write
  
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint_and_test_build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install black flake8 pytest

      - name: Run Black check
        run: black --check .

      # - name: Run flake8 lint
      #   run: flake8 .

      - name: Run tests inside Docker container
        run: |
          docker build -t convert_to_hosts:latest .
          docker run --rm -v ${{ github.workspace }}:/app -e PYTHONPATH=/app --entrypoint pytest convert_to_hosts:latest -v tests/test_convert_to_hosts.py
