name: Markdown - lint and format

permissions:
  contents: write

on:
  push:
    branches:
      - main # Run on push to the main branch
  pull_request:
  workflow_dispatch:

jobs:
  markdown-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v5
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - uses: DavidAnson/markdownlint-cli2-action@v21
        with:
          fix: true
          globs: '**/*.md'
        continue-on-error: true

      - name: Commit and Push Changes
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          if [ -n "$(git status --porcelain)" ]; then
            git add .
            git commit -m "Fix markdown formatting" || exit 0
            git push || { echo "Failed to push changes"; exit 1; }
          else
            echo "No changes to commit."
          fi
